Data Cleaning

In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv(r'C:\Users\ankur\Downloads\Electric Vehicle Sales by State in India (1).csv')

In [9]:
df.head(10)
df.tail(5)
df.shape
df.dtypes

Year                 float64
Month_Name            object
Date                  object
State                 object
Vehicle_Class         object
Vehicle_Category      object
Vehicle_Type          object
EV_Sales_Quantity    float64
dtype: object

In [18]:
df.isna().sum()
df.duplicated().sum()

np.int64(0)

In [28]:
df['Date']=pd.to_datetime(df['Date'], errors='coerce')
df['Year']=df['Year'].astype(int)
df['EV_Sales_Quantity']=df['EV_Sales_Quantity'].astype(int)
df.dtypes
df.sample(5)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
25847,2014,apr,2014-04-01,Odisha,PRIVATE SERVICE VEHICLE (INDIVIDUAL USE),Others,Others,0
26728,2015,apr,2015-04-01,Uttarakhand,CRANE MOUNTED VEHICLE,Others,Others,0
81200,2014,nov,2014-11-01,Punjab,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,0
79755,2022,oct,2022-10-01,Uttarakhand,MOTOR CAR,4-Wheelers,4W_Personal,44
90068,2015,dec,2015-12-01,Rajasthan,FORK LIFT,Others,Others,0

In [30]:
categorical_columns=['Month_Name','State','Vehicle_Class','Vehicle_Category','Vehicle_Type' ]

In [35]:
df[categorical_columns]=df[categorical_columns].astype("category")
df.dtypes

Year                          int64
Month_Name                 category
Date                 datetime64[ns]
State                      category
Vehicle_Class              category
Vehicle_Category           category
Vehicle_Type               category
EV_Sales_Quantity             int64
dtype: object